.partidos-ahora-mismo-h1 {
  width: 100%;
  text-align: center;
  font-size: 2.3rem;
  padding: 40px;
  background-color: var(--apple-700);
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  @media (max-width: 550px) {
    font-size: 1.6rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: auto;
}

.container ul {
  max-width: 900px;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container ul li {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--apple-100);
  @media (max-width: 550px) {
    width: 95%;
    margin: auto;
  }
}

.container ul li > *:not(:last-child) {
  border-bottom: 1px solid gray;
}

.liga-name-img {
  height: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--apple-700);
  color: var(--apple-50);
  padding: 0px 10px;
}

.liga-name-img img {
  width: 90px;
  height: 90px;
  @media (max-width: 550px) {
    width: 75px;
    height: 75px;
  }
}

.liga-name-img h1 {
  font-size: 2rem;
  text-transform: uppercase;
  @media (max-width: 550px) {
    font-size: 1.3rem;
  }
}

.equipos {
  height: 250px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  @media (max-width: 550px) {
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
  }
}

.equipos article {
  height: 100%;
}

.teams {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team-img-name {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.team-img-name img {
  height: 85px;
  width: 85px;
  @media (max-width: 550px) {
    height: 65px;
    width: 65px;
  }
}

.teams p {
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  @media (max-width: 550px) {
    font-size: 1rem;
  }
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  font-size: 2rem;
  background-color: #eee;
  @media (max-width: 550px) {
    font-size: 1.6rem;
  }
}

.score p {
  text-align: center;
  @media (max-width: 550px) {
    font-size: 1.2rem;
  }
}
