.standings-section {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.7fr 6fr;
  min-height: calc(100vh - 80px);
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.standigs-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--apple-800);
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
  }
}

.standigs-nav button {
  padding: 10px 5px;
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  text-align: left;
  color: var(--apple-50);
  font-weight: 600;
}

.standigs-nav button:hover {
  border-left: 5px solid var(--apple-500);
}

.stadings {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stadings ul {
  width: 80%;
  margin: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.stadings ul li {
  width: 100%;
  padding: 13px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
  background-color: var(--apple-50);
}

.standings-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  border-bottom: 1px solid gray;
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.name-logo-position-team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  @media (max-width: 768px) {
    gap: 0;
  }
}

.name-team,
.logo-standing {
  height: 25px;
  width: 25px;
  display: grid;
  place-items: center;
}

.name-logo-position-team img {
  height: 100%;
  width: 100%;
}

.team-statistics {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.statistics {
  display: flex;
  gap: 5px;
}

.statistics p {
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.statistics-p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  @media (max-width: 768px) {
    width: 20px;
  }
}

.round-name {
  display: flex;
  justify-content: space-between;
}

.standings-mobile-menu {
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}
